@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:radial-gradient(circle at top,#3b0a59,#12001d,#000);
    color:#fff;
}

.background{
    position:fixed;
    inset:0;
    background:
        radial-gradient(circle,#ffffff22 1px,transparent 1px);
    background-size:35px 35px;
    animation:bgMove 70s linear infinite;
    opacity:.35;
}

.container{
    position:relative;
    z-index:5;
    width:90%;
    max-width:750px;
    text-align:center;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:30px;

    padding:55px 35px;

    box-shadow:
        0 0 40px rgba(255,45,117,.25);

}

.heart{

font-size:90px;

animation:beat 1s infinite;

margin-bottom:15px;

}

h1{

font-size:55px;

color:#ff4d88;

}

h2{

margin:20px 0;

font-size:38px;

}

p{

font-size:20px;

line-height:1.9;

margin-bottom:35px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

button{

padding:18px 40px;

border:none;

border-radius:50px;

font-size:20px;

cursor:pointer;

transition:.35s;

}

#yes{

background:linear-gradient(45deg,#ff2d75,#ff6ca8);

color:white;

box-shadow:0 10px 30px rgba(255,45,117,.4);

}

#yes:hover{

transform:scale(1.08);

}

#no{

background:white;

color:#111;

position:relative;

}

#success{

display:none;

position:fixed;

inset:0;

background:linear-gradient(135deg,#ff2d75,#7a2cff);

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

padding:20px;

z-index:999;

}

#success h2{

font-size:42px;

margin:25px 0;

}

#success h3{

font-size:30px;

margin-bottom:25px;

color:#ffe082;

}

#success p{

font-size:24px;

max-width:700px;

}

@keyframes beat{

0%{transform:scale(1);}

50%{transform:scale(1.15);}

100%{transform:scale(1);}

}

@keyframes bgMove{

from{

transform:translateY(0);

}

to{

transform:translateY(-300px);

}

}

@media(max-width:768px){

.container{

padding:35px 20px;

}

h1{

font-size:42px;

}

h2{

font-size:28px;

}

p{

font-size:17px;

}

button{

width:100%;

}

}